extend base

block content 
    main.main 
        form.pass-reset-form
            .form-data 
                input.hidden(type="text" value=id id="user-id")
                label(for="password") Enter your new password:
                input(type="password" id="password")
            button(type="submit" id="btn-pass-submit") Submit 
